$red: #FF003C;
$red2: #920e2d;
$green: #63AD0E;
$yellow: #FFC000;
$yellow2: #d0aa52;
$yellow3: #d1b779;
$blue: #006CFF;
$white: #fff;
$black: #000;
$dark: #111111;
$dark2: #1b1b1b;
$dark3: #696969;
$dark4: #070707;
$purple: #7800FF;
$purple2: #6f00ee;