// Colors

// Red
$red: #FF003C;
$red2: #920e2d;

// Green
$green: #63AD0E;
$green2:rgb(230, 249, 206);

// Yellow
$yellow: #FFC000;
$yellow2: #d0aa52;
$yellow3: #d1b779;

// Blue
$blue: #006CFF;

// White
$white: #fff;

// Black 
$black: #000;

// Dark
$dark: #111111;
$dark2: #1b1b1b;
$dark3: #696969;
$dark4: #070707;

// Purple
$purple: #7800FF;
$purple2: #6f00ee;